/*
	Theme Name: Turing Algorithms
	Theme URI: http://turingalgorithms.com
	Author: Ansley Fones
	Author URI: http://ansleyfones.com
	Description: A Custom WordPress theme by Ansley Fones
	Version: 1.2.0
	Bitbucket Theme URI: https://bitbucket.org/ansleyf/turingalgorithms
	Bitbucket Branch: master */

@import scss/uikit-mixins

@function calculateRem($size)
	$remSize: $size / 16px
	@return $remSize * 1rem

@mixin font-size($size)
	font-size: $size
	font-size: calculateRem($size)

@mixin transition($args...)
	-webkit-transition: $args
	-moz-transition: $args
	-ms-transition: $args
	-o-transition: $args
	transition: $args

$offwhite: #E0E0E0
$blue: #2e90f2
$lighterblue: #7ec0ee
$greyblue: #313540

@import scss/uikit
@import scss/components/dotnav
@import scss/components/search

/* --- Fonts --- */

/* --- Default Styles --- */
body
	line-height: 1.45rem
	
	h1, h2, h3, h4, h5, h6 
		color: $offwhite
	
	.content
		min-height: 81vh
		margin-top: 45px
		margin-bottom: 45px
		
body:not(.home)
	color: $offwhite
	background-color: $greyblue
	
p, ol, ul 
	margin: 0
	margin-bottom: 15px
	@include font-size(16px)

img.alignleft 
	float: left
	display: block
	margin-right: 15px
	margin-bottom: 10px

h1, h2, h3, h4, h5, h6 
	font-weight: 500

img.alignright 
	float: right
	display: block
	margin-left: 15px
	margin-bottom: 10px

img.aligncenter 
	float: none
	display: block
	margin: 0 auto
	margin-bottom: 10px

img.alignnone 
	float: none
	display: inline-block
	margin: 0 auto
	margin-bottom: 10px


/* --- Custom Theme Styles --- */
em 
	color: $offwhite

a 
	color: $lighterblue

	&.no-deco 
		text-decoration: none

	&:hover 
		color: $blue
		text-decoration: none
		@include transition(all .15s linear)

a img:not(.logo):hover
	opacity: .7
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"
	@include transition(all .15s linear)
	-webkit-backface-visibility: none

.fourohfour 
	@include font-size(64px)
	line-height: 64px

.uk-container 
	max-width: 1000px


/* --- NavBar --- */
.uk-navbar
	background-color: #000000

.uk-navbar-toggle
	color: $blue
			
.uk-navbar-nav
	li
		a
			color: $offwhite
			@include font-size(18px)
			background-color: transparent
			text-transform: uppercase
			
	li:hover>a,
	li>a:focus,
	li.uk-open>a,
	li.uk-active>a 
		color: $blue
		background-color: transparent

.uk-dropdown-navbar 
	background-color: #000000
	
	li
		a
			color: $offwhite
			background-color: transparent


.uk-navbar-nav>li:hover>a,
.uk-nav-navbar>li>a:hover,
.uk-nav-navbar>li>a:focus,
.uk-dropdown li.uk-active>a
	color: $blue
	background-color: transparent
	


/* --- Header --- */
header
	.logo
		max-height: 40px

/* --- Home Page Styles --- */
section.front-page
	height: 100vh
	color: $offwhite
	background-size: cover
	background-position: center center
	@media (max-width: 600px)
		height: auto
	
	.uk-height-1-1
		@media (max-width: 600px)
			height: 600px
		@media (max-width: 400px)
			height: 800px

	h1
		color: $offwhite
		text-align: center
		margin-bottom: 30px
		@include font-size(52px)
		
		@media (max-width: 767px)
			@include font-size(36px)
		
	p
		@include font-size(18px)
		line-height: 26px
		
		@media (max-width: 767px)
			@include font-size(16px)
			line-height: inherit
			
	a.cta 
		color: $blue
		border: 2px solid $blue
		margin: 15px 0
		padding: 15px 30px
		font-size: 18px
		font-weight: bold
		text-transform: uppercase

		&:hover
			color: $offwhite
			background: $blue
			@include transition(all .15s linear)
			-webkit-backface-visibility: none
	
	video#bgvid
		position: fixed
		right: 0
		bottom: 0
		min-width: 100%
		min-height: 100%
		width: auto
		height: auto
		z-index: -100
		background-color: #313540
		
		@media (max-width: 767px)
			display: none

section.bg-video
	@media (min-width: 768px)
		background-image: none !important

.scroll-dots
	position: fixed
	top: 50%
	left: 15px
	z-index: 99999
	transform: translateZ(0px)
	margin-top: -50px
	
	@media (max-width: 959px)
		display: none
	
	li
		a
			background-color: rgba(255, 255, 255, 0.3)

			&:focus, &:hover
				background-color: rgba(255, 255, 255, 0.6)
				
	li.uk-active a
		background-color: rgba(255, 255, 255, 0.8)


/* --- Loop Styles --- */
.uk-button
	background-color: $lighterblue
	color: #fff
	
	&:hover
		background-color: $blue
		color: #fff
		@include transition(all .15s linear)


/* --- People Page Styles --- */
article.person
	margin-bottom: 65px
	
	h2
		margin-top: 0
		padding-bottom: 3px
		padding-left: 10px
		border-bottom: 1px solid $offwhite


/* --- Contact Page Styles --- */
.gform_wrapper .top_label input.medium, 
.gform_wrapper .top_label select.medium
	width: 100% !important

/* --- Pagination --- */
.uk-pagination li a 
	background-color: $lighterblue
	color: #fff
	
	&:hover
		background-color: $blue
		color: #fff
		@include transition(all .15s linear)


/* --- sidebar --- */
.sidebar
	.widget
		margin-top: 30px
		margin-bottom: 30px
	
	.widget-title
		@include font-size(24px)
		font-weight: 900

.uk-search
	width: 100%

	.uk-search-field
		color: $greyblue
		background-color: #fff
		width: 100%

.uk-search:before
	color: $greyblue

/* --- Footer --- */
footer
	.ak
		background-color: #333333

		div
			color: $offwhite
			padding: 10px 0
			
			a
				color: $offwhite
				
				&:hover
					color: $offwhite


/* --- Responsive --- */
/* Desktop and bigger */
@media (min-width: 960px) 
/* Only tablets portrait */
@media (min-width: 768px) and (max-width: 959px) 
/* Phone landscape and smaller */
@media (max-width: 767px)